@model List<Product>

<!--Ethan log: In order to have the message pop up on the screen we need to add some code to the layout file aka List.cshtml-->

@{
    ViewBag.Title = "Product Manager";

    //New Code (Making an variable for the TempData)

    var successMessage = TempData["SuccessMessage"] as string; 
}

<h1>@ViewBag.Title</h1>

 <!--New Code (if statment that alert the user of their success in the project)-->

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class ="alert alert-success" role="alert">
        @successMessage
    </div>
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Yearly Price
            </th>
            <th>
                Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>
                @product.ProductCode
            </td>
            <td>
                @product.Name
            </td>
            <td>
                @product.YearlyPrice.ToString("C")
            </td>
            <td>
                @product.ReleaseDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductID" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@product.ProductID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="row">
    <div class="align-items-center col-md-6">
        <a asp-action="Add" class="btn btn-primary">Add Product</a>
    </div>
</p>
